/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <280>;
};

&mmv {
    time-to-max-speed-ms = <680>;
    acceleration-exponent = <2>;
};

&msc {
    time-to-max-speed-ms = <500>;                 /* <--- How long time until max speed is reached */
};

&lt {
    quick-tap-ms = <0>;
    flavor = "balanced";
    tapping-term-ms = <280>;
};

/ {
    combos {
        compatible = "zmk,combos";

        fun_trigger {
            bindings = <&tog 3>;
            key-positions = <40 41 39>;
            timeout-ms = <50>;
            layers = <1 2 0 3>;
        };

        swapper {
            bindings = <&swapper>;
            key-positions = <16 38>;
            layers = <0>;
        };
    };

    macros {
        tilde_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_tap>, <&kp TILDE &kp SPACE>;

            label = "NEW_MACRO";
        };

        home_tilde: home_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_tap>, <&kp TILDE &kp SPACE &kp SLASH>;

            label = "HOME_TILDE";
        };

        g_: g_ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_tap>, <&kp G &kp UNDERSCORE>;

            label = "G_";
        };

        home_tilde_hidden: home_tilde_hidden {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&none>,
                <&macro_tap>,
                <&kp TILDE &kp SPACE &kp SLASH &kp PERIOD>;

            label = "HOME_TILDE_HIDDEN";
        };

        tmux_visual: tmux_visual {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_tap>, <&kp LC(SPACE) &kp LEFT_BRACKET>;

            label = "TMUX_VISUAL";
        };

        quotes_space: quotes_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_tap>, <&kp DOUBLE_QUOTES &kp SPACE>;

            label = "QUOTES_SPACE";
        };

        single_quote_space: single_quote_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_tap>, <&kp SQT &kp SPACE>;

            label = "SINGLE_QUOTE_SPACE";
        };

        // Swapper for smart alt+tab

        swapper: swapper {
            compatible = "zmk,behavior-tri-state";
            label = "SWAPPER";
            #binding-cells = <0>;
            bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;

            ignored-key-positions = <21>;
        };

        // Swapper for smart alt+tab
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB            &kp Q  &kp W        &kp E            &kp R        &kp T        &kp Y  &kp U        &kp I                     &kp O        &kp P             &kp BACKSPACE
&mt LSHIFT ESCAPE  &kp A  &mt LCTRL S  &mt LCMD D       &mt LALT F   &kp G        &kp H  &mt LALT J   &mt LGUI K                &mt LCTRL L  &kp SINGLE_QUOTE  &sk LEFT_SHIFT
&kp LCTRL          &kp Z  &kp X        &kp C            &kp V        &kp B        &kp N  &kp M        &kp COMMA                 &kp DOT      &kp SLASH         &kp SEMICOLON
                                       &mt LGUI ESCAPE  &lt 1 SPACE  &lt 3 TAB    &mo 2  &lt 1 ENTER  &mt LEFT_SHIFT BACKSPACE
            >;
        };

        lower {
            display-name = "lower";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB                &kp N1         &kp N2               &kp N3              &kp NUMBER_4        &kp N5      &kp NUMBER_6    &kp N7          &kp N8         &kp N9           &kp N0      &kp BACKSPACE
&mt LEFT_SHIFT ESCAPE  &kp LG(GRAVE)  &mt LCTRL LG(ENTER)  &mt LGUI LS(ENTER)  &mt LALT LC(SPACE)  &none       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT_ARROW  &caps_word  &kp PAGE_UP
&kp LCTRL              &none          &none                &none               &none               &none       &kp PAGE_UP     &kp HOME        &kp END        &trans           &none       &kp PAGE_DOWN
                                                           &sk LGUI            &sk LSHIFT          &sk LALT    &kp DELETE      &kp RET         &kp BACKSPACE
            >;

            label = "lower";
        };

        sym {
            display-name = "symbol";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp PIPE       &kp EXCLAMATION  &kp AT              &kp HASH        &kp DOLLAR      &kp PERCENT            &kp CARET  &kp AT            &kp ASTERISK          &kp UNDERSCORE         &kp MINUS          &tmux_visual
&kp LESS_THAN  &kp GRAVE        &mt LCTRL QUESTION  &mt LGUI COLON  &mt LALT EQUAL  &kp BACKSLASH          &kp SLASH  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp GREATER_THAN
&kp LCTRL      &kp TILDE        &home_tilde_hidden  &g_             &quotes_space   &single_quote_space    &kp PIPE   &kp SEMICOLON     &kp LESS_THAN         &kp GREATER_THAN       &kp PIPE           &kp LCTRL
                                                    &kp LGUI        &kp LSHIFT      &kp LCTRL              &none      &trans            &kp LSHIFT
            >;
        };

        mouse {
            display-name = "mouse";
            bindings = <
&kp TAB    &kp LG(GRAVE)  &kp LG(LEFT_BRACE)  &kp LG(RIGHT_BRACE)   &kp LG(TAB)    &tmux_visual                &trans         &trans          &mmv MOVE_UP    &trans           &trans           &trans
&kp LALT   &none          &none               &kp ENTER             &kp BACKSPACE  &kp LG(LS(Z))               &kp PAGE_UP    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &sk LSHIFT       &kp LGUI
&kp LCTRL  &none          &kp LG(LS(N5))      &kp LG(LS(NUMBER_4))  &kp LG(LS(V))  &kp LC(LS(LG(NUMBER_3)))    &kp PAGE_DOWN  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP     &msc SCRL_RIGHT  &kp LALT
                                              &none                 &none          &none                       &mkp LCLK      &mkp RCLK       &mkp MCLK
            >;
        };

        fun {
            display-name = "fun";
            bindings = <
&none       &kp F1        &kp F2        &kp F3        &kp F4          &kp F5      &kp F6      &kp F7      &kp F8        &kp F9           &kp F10     &kp F11
&kp LSHIFT  &kp F11       &kp F12       &none         &none           &none       &caps_word  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp C_PLAY  &none
&kp LCTRL   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &none       &none       &none       &none         &none            &none       &kp LALT
                                        &kp LGUI      &kp LEFT_SHIFT  &kp LALT    &none       &none       &none
            >;
        };
    };
};
